/*
 * # Base
 * # Header
 * # Menus
 * # General Content
 * # Sidebars
 * # Footer
 * # Column Layouts
 * # Media Queries
 * # Print
 */

@import 'css/bootstrap/bootstrap.less';
@import 'css/bootstrap/responsive.less';
@import 'css/variables.less';

/*
 * Base
 ***********************************************************/
body {}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Header
 ***********************************************************/
#header {}

/*
 * Menus
 ***********************************************************/
#menu-primary {}

#menu-secondary {}

#menu-subsidiary {}

/*
 * General Content
 ***********************************************************/
#content {}

/*
 * Sidebars
 ***********************************************************/
#sidebar-primary {}

#sidebar-secondary {}

/*
 * Footer
 ***********************************************************/
#footer {}

/*
 * Column layouts
 ***********************************************************/

/* 2 columns, left content */
.layout-2c-l #content, .layout-default #content {
  float: left;
}
.layout-2c-l #sidebar-primary, .layout-default #sidebar-primary {
  float: right;
}
.layout-2c-l #sidebar-secondary, .layout-default #sidebar-secondary {
  clear: right;
  float: right;
}

/* 2 columns, right content */
.layout-2c-r #content {
  float: right;
}
.layout-2c-r #sidebar-primary {
  float: left;
}
.layout-2c-r #sidebar-secondary {
  float: left;
  clear: left;
}

/* 3 columns, left content */
.layout-3c-l #content {
  float: left;
}
.layout-3c-l #sidebar-primary, .layout-3c-l #sidebar-secondary {
  clear: none;
  float: left;
}
.layout-3c-l #sidebar-secondary {
  padding: 0;
  border: none;
}

/* 3 columns, right content */
.layout-3c-r #content {
  float: right;
}
.layout-3c-r #sidebar-primary, .layout-3c-r #sidebar-secondary {
  clear: none;
  float: left;
}
.layout-3c-r #sidebar-secondary {
  padding: 0;
  border: none;
}

/* 3 columns, center content */
.layout-3c-c #content {
  float: left;
  margin-left: 330px;
}
.layout-3c-c #sidebar-primary {
  float: left;
  margin-left: -865px;
}
.layout-3c-c #sidebar-secondary {
  clear: none;
  float: right;
  padding: 0;
  border: none;
}

/*
 * Media Queries
 ***********************************************************/

/* Tablet landscape and under */
@media (max-width: 979px) {

}

/* Tablet portrait and under */
@media (max-width: 767px) {

}

/* Mobile */
@media (max-width: 480px) {

}

/*
 * Print
 ***********************************************************/
@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}